.hero-section {
    background-image: url(../Pics/Backgrounds/beauty-bg.jpg);
    padding: 150px;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section > .top-heading {
    font-size: 30px;
    padding: 1px 20px;
    color: #cbcbcb;
    border-radius: 2px;
}

.hero-section > .bottom-heading {
    font-size: 20px;
    color: #cbcbcb;
    margin-top: 15px;
}

.features-section {
    display: flex;
    flex-direction: column;
}

.features-section > .row {
    max-width: 1080px;
    margin: auto;
}

.features-section > .row > .featured-products {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.features-section > .row > .featured-products img {
    width: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    float: left;
}

.features-section > .latest-product {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
}

.features-section > .newest-product {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
}